<!DOCTYPE html>
<html>
<head>
    <title>Shoestring Scan Report</title>
    <link rel="stylesheet" href="../static/bulma.min.css">
</head>
<body>
    <section class="section">
        <div class="container">
            <h1 class="title">Shoestring Scan Report</h1>
            <p>Summary: {{ summary }}</p>
        </div>
    </section>
</body>
</html> 